.portfolio_container h1 {
    text-align: center;
}

.EA_container {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.EA_container img { 
    border: 1px solid rgb(109, 98, 98);
    margin-bottom: 1rem;
    max-height: 400px;
    max-width: 400px;
}

.EA_container a:hover {
    box-shadow: 5px 5px 5px 5px #888888;
}

.social_networking_api a:hover {
    box-shadow: 5px 5px 5px 5px #888888;
}


.social_networking_api {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.budget_balance a:hover {
    box-shadow: 5px 5px 5px 5px #888888;
}


.budget_balance {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.employee_container a:hover {
    box-shadow: 5px 5px 5px 5px  #888888;
}


.employee_container {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.share_your_story_container a:hover {
    box-shadow: 5px 5px 5px 5px  #888888;
}


.share_your_story_container {
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
