:root {
  --nav-color: hsl(137, 8%, 43%);
  --nav-color-hover: hsl(210, 11%, 45%);
  --nav-border-color-white: hsl(0, 100%, 100%);
  --light-color: hsl(209, 100%, 92%);
  --text-color: hsl(0, 0%, 20%);
  --font-color-hover: hsl(125, 77%, 74%);
}